# Explore Level 3 data

In [1]:
# onda install -n VizElfs ipykernel --update-deps --force-reinstall
# conda install openpyxl
import pandas as pd

In [2]:
# Level 3 file
df_l3 = pd.read_excel("data/Level_3.xlsx")

In [3]:
df_l3.head()

,small_area,co-benefit_type,damage_pathway,damage_type,2025,2026,2027,2028,2029,2030,...,2042,2043,2044,2045,2046,2047,2048,2049,2050,sum
0,E01000001,air_quality,reduced_mortality,health,0.003336,0.003663,6.917033e-03,8.674610e-03,1.085301e-02,1.408742e-02,...,6.968484e-02,7.270200e-02,7.526418e-02,7.737418e-02,7.860485e-02,7.868850e-02,7.817872e-02,7.763434e-02,7.710436e-02,1.201945
1,E01000001,air_quality,society,non-health,0.000039,0.000043,8.140000e-05,1.020450e-04,1.276710e-04,1.657200e-04,...,8.197480e-04,8.552410e-04,8.853820e-04,9.102030e-04,9.246800e-04,9.256640e-04,9.196670e-04,9.132640e-04,9.070290e-04,0.014139
2,E01000001,congestion,time_saved,non-health,0.005570,0.009543,1.191381e-02,1.324733e-02,1.365541e-02,1.479793e-02,...,-2.996094e-02,-3.209987e-02,-3.437791e-02,-3.693888e-02,-4.099173e-02,-4.281875e-02,-4.471182e-02,-4.611941e-02,-4.897514e-02,-0.369011
3,E01000001,dampness,NHS,non-health,0.000000,0.000000,1.260000e-05,1.240000e-05,1.240000e-05,2.410000e-06,...,2.970000e-05,3.320000e-05,3.290000e-05,3.200000e-05,3.180000e-05,3.150000e-05,3.150000e-05,3.130000e-05,3.110000e-05,0.000504
4,E01000001,dampness,QALY,health,0.000000,0.000000,3.070000e-07,3.050000e-07,3.030000e-07,5.910000e-08,...,7.260000e-07,8.120000e-07,8.060000e-07,7.830000e-07,7.780000e-07,7.720000e-07,7.710000e-07,7.650000e-07,7.610000e-07,0.000012

In [4]:
# Lookup file
lookup = pd.read_excel("data/lookups.xlsx")

In [5]:
lookup.head()

,small_area,population,households,local_authority,Unnamed: 4,nation
0,E01000001,1721,838,City of London,NaN,Eng/Wales
1,E01000002,1608,824,City of London,NaN,Eng/Wales
2,E01000003,1826,1017,City of London,NaN,Eng/Wales
3,E01000005,1605,480,City of London,NaN,Eng/Wales
4,E01000006,1833,554,Barking and Dagenham,NaN,Eng/Wales

## Check categorical columns

In [6]:
df_l3.columns

Index([     'small_area', 'co-benefit_type',  'damage_pathway',
           'damage_type',              2025,              2026,
                    2027,              2028,              2029,
                    2030,              2031,              2032,
                    2033,              2034,              2035,
                    2036,              2037,              2038,
                    2039,              2040,              2041,
                    2042,              2043,              2044,
                    2045,              2046,              2047,
                    2048,              2049,              2050,
                   'sum'],
      dtype='object')

In [13]:
for col in ['co-benefit_type', 'damage_pathway', 'damage_type']:
    print(f"Unique values in {col}: {df_l3[col].unique()}")
    print(f"Count of unique values in {col}: {df_l3[col].nunique()}")

distinct_combinations = df_l3[['co-benefit_type', 'damage_pathway', 'damage_type']].drop_duplicates()
print(f"Total distinct combinations: {len(distinct_combinations)}")
print(distinct_combinations)

Unique values in co-benefit_type: ['air_quality' 'congestion' 'dampness' 'diet_change' 'excess_cold'
 'excess_heat' 'hassle_costs' 'noise' 'physical_activity' 'road_repairs'
 'road_safety']
Count of unique values in co-benefit_type: 11
Unique values in damage_pathway: ['reduced_mortality' 'society' 'time_saved' 'NHS' 'QALY' 'amenity'
 'sleep_disturbance']
Count of unique values in damage_pathway: 7
Unique values in damage_type: ['health' 'non-health']
Count of unique values in damage_type: 2
Total distinct combinations: 20
      co-benefit_type     damage_pathway damage_type
0         air_quality  reduced_mortality      health
1         air_quality            society  non-health
2          congestion         time_saved  non-health
3            dampness                NHS  non-health
4            dampness               QALY      health
5            dampness            society  non-health
6         diet_change  reduced_mortality      health
7         excess_cold                NHS  non-health
8         excess_cold               QALY      health
9         excess_cold            society  non-health
10        excess_heat                NHS  non-health
11        excess_heat               QALY      health
12        excess_heat            society  non-health
13       hassle_costs         time_saved  non-health
14              noise            amenity  non-health
15              noise  sleep_disturbance      health
16  physical_activity  reduced_mortality      health
17       road_repairs            society  non-health
18        road_safety  reduced_mortality      health
19        road_safety            society  non-health