# Explore Level 3 data

In [2]:
# onda install -n VizElfs ipykernel --update-deps --force-reinstall
# conda install openpyxl
import pandas as pd

In [3]:
# Level 3 file
df_l3 = pd.read_excel("../data/Level_3.xlsx")

In [4]:
df_l3.head()

,small_area,co-benefit_type,damage_pathway,damage_type,2025,2026,2027,2028,2029,2030,...,2042,2043,2044,2045,2046,2047,2048,2049,2050,sum
0,E01000001,air_quality,reduced_mortality,health,0.003336,0.003663,6.917033e-03,8.674610e-03,1.085301e-02,1.408742e-02,...,6.968484e-02,7.270200e-02,7.526418e-02,7.737418e-02,7.860485e-02,7.868850e-02,7.817872e-02,7.763434e-02,7.710436e-02,1.201945
1,E01000001,air_quality,society,non-health,0.000039,0.000043,8.140000e-05,1.020450e-04,1.276710e-04,1.657200e-04,...,8.197480e-04,8.552410e-04,8.853820e-04,9.102030e-04,9.246800e-04,9.256640e-04,9.196670e-04,9.132640e-04,9.070290e-04,0.014139
2,E01000001,congestion,time_saved,non-health,0.005570,0.009543,1.191381e-02,1.324733e-02,1.365541e-02,1.479793e-02,...,-2.996094e-02,-3.209987e-02,-3.437791e-02,-3.693888e-02,-4.099173e-02,-4.281875e-02,-4.471182e-02,-4.611941e-02,-4.897514e-02,-0.369011
3,E01000001,dampness,NHS,non-health,0.000000,0.000000,1.260000e-05,1.240000e-05,1.240000e-05,2.410000e-06,...,2.970000e-05,3.320000e-05,3.290000e-05,3.200000e-05,3.180000e-05,3.150000e-05,3.150000e-05,3.130000e-05,3.110000e-05,0.000504
4,E01000001,dampness,QALY,health,0.000000,0.000000,3.070000e-07,3.050000e-07,3.030000e-07,5.910000e-08,...,7.260000e-07,8.120000e-07,8.060000e-07,7.830000e-07,7.780000e-07,7.720000e-07,7.710000e-07,7.650000e-07,7.610000e-07,0.000012

In [6]:
df_l3.shape

(928520, 31)

In [11]:
# Lookup file
lookup = pd.read_excel("../data/lookups.xlsx")
lookup.head()

,small_area,population,households,local_authority,Unnamed: 4,nation
0,E01000001,1721,838,City of London,NaN,Eng/Wales
1,E01000002,1608,824,City of London,NaN,Eng/Wales
2,E01000003,1826,1017,City of London,NaN,Eng/Wales
3,E01000005,1605,480,City of London,NaN,Eng/Wales
4,E01000006,1833,554,Barking and Dagenham,NaN,Eng/Wales

In [8]:
## Wales only
df_l3_W = df_l3[df_l3['small_area'].str.startswith('W')]
print(df_l3_W.shape)
df_l3_W.head()

(38340, 31)

,small_area,co-benefit_type,damage_pathway,damage_type,2025,2026,2027,2028,2029,2030,...,2042,2043,2044,2045,2046,2047,2048,2049,2050,sum
890180,W01000003,air_quality,reduced_mortality,health,1.473090e-02,1.667587e-02,1.976664e-02,0.022820,0.025635,0.028700,...,0.099744,0.103847,0.107327,0.110169,0.111805,0.111820,0.110984,0.110105,0.109262,1.810500
890181,W01000003,air_quality,society,non-health,1.732890e-04,1.961690e-04,2.325280e-04,0.000268,0.000302,0.000338,...,0.001173,0.001222,0.001263,0.001296,0.001315,0.001315,0.001306,0.001295,0.001285,0.021298
890182,W01000003,congestion,time_saved,non-health,5.633596e-02,9.711574e-02,1.280483e-01,0.150002,0.163931,0.201899,...,-0.096701,-0.116241,-0.138253,-0.160345,-0.180216,-0.201878,-0.224924,-0.244813,-0.300688,-0.189559
890183,W01000003,dampness,NHS,non-health,1.050000e-08,9.600000e-08,1.910000e-05,0.000058,0.000081,0.000299,...,0.000696,0.000703,0.000765,0.000772,0.000801,0.000805,0.000802,0.000832,0.000857,0.012310
890184,W01000003,dampness,QALY,health,2.580000e-10,2.350000e-09,4.660000e-07,0.000001,0.000002,0.000007,...,0.000017,0.000017,0.000019,0.000019,0.000020,0.000020,0.000020,0.000020,0.000021,0.000301

In [21]:
# join Welsh data + lookup
df_l3_W_lookup = pd.merge(df_l3_W, lookup, how='inner', on='small_area')
# Remove 'Unnamed' and 'nation' columns, move 'local_authority' as first
cols = [col for col in df_l3_W_lookup.columns if col not in ['Unnamed: 4', 'nation']]
cols = ['local_authority'] + [col for col in cols if col != 'local_authority']
df_l3_W_lookup = df_l3_W_lookup[cols]
df_l3_W_lookup.head()

,local_authority,small_area,co-benefit_type,damage_pathway,damage_type,2025,2026,2027,2028,2029,...,2044,2045,2046,2047,2048,2049,2050,sum,population,households
0,Isle of Anglesey,W01000003,air_quality,reduced_mortality,health,1.473090e-02,1.667587e-02,1.976664e-02,0.022820,0.025635,...,0.107327,0.110169,0.111805,0.111820,0.110984,0.110105,0.109262,1.810500,2446,1141
1,Isle of Anglesey,W01000003,air_quality,society,non-health,1.732890e-04,1.961690e-04,2.325280e-04,0.000268,0.000302,...,0.001263,0.001296,0.001315,0.001315,0.001306,0.001295,0.001285,0.021298,2446,1141
2,Isle of Anglesey,W01000003,congestion,time_saved,non-health,5.633596e-02,9.711574e-02,1.280483e-01,0.150002,0.163931,...,-0.138253,-0.160345,-0.180216,-0.201878,-0.224924,-0.244813,-0.300688,-0.189559,2446,1141
3,Isle of Anglesey,W01000003,dampness,NHS,non-health,1.050000e-08,9.600000e-08,1.910000e-05,0.000058,0.000081,...,0.000765,0.000772,0.000801,0.000805,0.000802,0.000832,0.000857,0.012310,2446,1141
4,Isle of Anglesey,W01000003,dampness,QALY,health,2.580000e-10,2.350000e-09,4.660000e-07,0.000001,0.000002,...,0.000019,0.000019,0.000020,0.000020,0.000020,0.000020,0.000021,0.000301,2446,1141

In [22]:
df_l3_W_lookup.to_csv("../data/df_l3_W_lookup.csv", index=False)

In [16]:
print(f"Unique values in local_authority: {df_l3_W_lookup['local_authority'].unique()}")

Unique values in local_authority: ['Isle of Anglesey' 'Gwynedd' 'Conwy' 'Denbighshire' 'Flintshire'
 'Wrexham' 'Powys' 'Ceredigion' 'Pembrokeshire' 'Carmarthenshire'
 'Swansea' 'Neath Port Talbot' 'Bridgend' 'The Vale of Glamorgan'
 'Rhondda Cynon Taf' 'Merthyr Tydfil' 'Caerphilly' 'Blaenau Gwent'
 'Torfaen' 'Monmouthshire' 'Newport' 'Cardiff']

In [17]:
unique_counts = df_l3_W_lookup.groupby('local_authority')['small_area'].nunique()
print(unique_counts)

local_authority
Blaenau Gwent             46
Bridgend                  91
Caerphilly               110
Cardiff                  218
Carmarthenshire          111
Ceredigion                45
Conwy                     71
Denbighshire              58
Flintshire                92
Gwynedd                   71
Isle of Anglesey          41
Merthyr Tydfil            36
Monmouthshire             58
Neath Port Talbot         90
Newport                  100
Pembrokeshire             71
Powys                     79
Rhondda Cynon Taf        153
Swansea                  150
The Vale of Glamorgan     82
Torfaen                   60
Wrexham                   84
Name: small_area, dtype: int64

In [5]:
lookup.head()

,small_area,population,households,local_authority,Unnamed: 4,nation
0,E01000001,1721,838,City of London,NaN,Eng/Wales
1,E01000002,1608,824,City of London,NaN,Eng/Wales
2,E01000003,1826,1017,City of London,NaN,Eng/Wales
3,E01000005,1605,480,City of London,NaN,Eng/Wales
4,E01000006,1833,554,Barking and Dagenham,NaN,Eng/Wales

## Check categorical columns

In [6]:
df_l3.columns

Index([     'small_area', 'co-benefit_type',  'damage_pathway',
           'damage_type',              2025,              2026,
                    2027,              2028,              2029,
                    2030,              2031,              2032,
                    2033,              2034,              2035,
                    2036,              2037,              2038,
                    2039,              2040,              2041,
                    2042,              2043,              2044,
                    2045,              2046,              2047,
                    2048,              2049,              2050,
                   'sum'],
      dtype='object')

In [13]:
for col in ['co-benefit_type', 'damage_pathway', 'damage_type']:
    print(f"Unique values in {col}: {df_l3[col].unique()}")
    print(f"Count of unique values in {col}: {df_l3[col].nunique()}")

distinct_combinations = df_l3[['co-benefit_type', 'damage_pathway', 'damage_type']].drop_duplicates()
print(f"Total distinct combinations: {len(distinct_combinations)}")
print(distinct_combinations)

Unique values in co-benefit_type: ['air_quality' 'congestion' 'dampness' 'diet_change' 'excess_cold'
 'excess_heat' 'hassle_costs' 'noise' 'physical_activity' 'road_repairs'
 'road_safety']
Count of unique values in co-benefit_type: 11
Unique values in damage_pathway: ['reduced_mortality' 'society' 'time_saved' 'NHS' 'QALY' 'amenity'
 'sleep_disturbance']
Count of unique values in damage_pathway: 7
Unique values in damage_type: ['health' 'non-health']
Count of unique values in damage_type: 2
Total distinct combinations: 20
      co-benefit_type     damage_pathway damage_type
0         air_quality  reduced_mortality      health
1         air_quality            society  non-health
2          congestion         time_saved  non-health
3            dampness                NHS  non-health
4            dampness               QALY      health
5            dampness            society  non-health
6         diet_change  reduced_mortality      health
7         excess_cold                NHS  non-health
8         excess_cold               QALY      health
9         excess_cold            society  non-health
10        excess_heat                NHS  non-health
11        excess_heat               QALY      health
12        excess_heat            society  non-health
13       hassle_costs         time_saved  non-health
14              noise            amenity  non-health
15              noise  sleep_disturbance      health
16  physical_activity  reduced_mortality      health
17       road_repairs            society  non-health
18        road_safety  reduced_mortality      health
19        road_safety            society  non-health